<footer class="d-flex flex-wrap bg-dark justify-content-between align-items-center py-5 mt-5 border-top">
  <div class="container">
    <div class="row">
      <p class="col-md-3 text-light d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis">© 2024 HabitusX</p>
      <span class="col-md-5 text-light d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis">Object Oriented and Functional Programming with Python</span>
      <p class="col-md-3 text-light d-flex align-items-center justify-content-end mb-3 mb-md-0 me-md-auto link-body-emphasis">DLBDSOOFPP01</p>
    </div>
  </div>
</footer>
